# Dependencies
node_modules/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Next.js Build
frontend/.next/
frontend/out/

# Database & SQLite files
*.db
*.sqlite3
backups/

# Environment Variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
push_to_github.bat
